@import url('https://fonts.googleapis.com/css2?family=Alata&family=Poppins:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #eff1f7;
}

.container {
  margin: 0 auto;
  width: 375px;
  background: #fff;
  height: 927px;
}

.header {
  display: flex;
  position: relative;
  align-items: center;
}

.header-top {
  width: 100%;
  height: 50px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 2rem 1rem 2rem;
}

.navbar {
  width: 345px;
  font-style: normal;
  text-align: left;
  line-height: 44px;
  height: 386px;
  background-color: #3a3054;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;

  /* right: -250vh; */
  margin: 6rem 1rem 0 1rem;
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
  z-index: 100;
}

hr {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #968e8e;
  margin-top: 1rem;
}

.bar {
  display: block;
  width: 20px;
  height: 2px;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #968e8e;
}

.humburger {
  display: block;
  z-index: 100;
  cursor: pointer;
}

.humburger.change .bar:nth-child(2) {
  opacity: 0;
}

.humburger.change .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.humburger.change .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.navbar.change {
  right: 0;
}

.nav-list {
  list-style: none;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-item .nav-link-1 {
  text-transform: capitalize;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
}

.sign-Up {
  width: 279px;
  height: 48px;
  background: #7a76ff;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.sign-Up:hover {
  background: #fff;
  color: #7a76ff;
}

.inner-img {
  width: 100%;
  height: 300px;
  margin: 0 2rem;
  background: url('/images/illustration-working.svg');
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: cover;
}

.sec-1 {
  width: 355px;
  height: 289px;
  border-radius: 15px;
  margin: 5.5rem auto 0 auto;
}

.sec-1 h1 {
  width: 355px;
  font-size: 3rem;
  color: #000;
  text-align: center;
  margin-top: 2rem;
  font-family: 'poppins', sans-serif;
  letter-spacing: -1.05px;
  line-height: 1.05;
}

.sec-1 p {
  width: 327px;
  font-size: 1.2rem;
  color: #9e9aa8;
  text-align: center;
  margin: 1rem;
  font-family: 'poppins', sans-serif;
  letter-spacing: -0.5px;
  line-height: 1.5;
}

.sec-1 .btn {
  width: 279px;
  height: 48px;
  background: #2acfcf;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  font-family: 'poppins', sans-serif;
  font-size: 1.2rem;
  color: #fff;
  font-weight: bold;
}

.sec-1 .btn:hover {
  background: #fff;
  color: #2acfcf;
  border: 1px solid #2acfcf;
}

.mo-form {
  width: 327px;
  height: 160px;
  background-color: #4b3f6b;
  border-radius: 10px;
  margin: 5rem auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.mo-form .input {
  width: 279px;
  height: 48px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
  border: none;
  font-family: 'poppins', sans-serif;
  font-size: 1rem;
  color: #bfbfbf;
  cursor: pointer;
  outline: none;
}

.mo-form .btn-1 {
  width: 279px;
  height: 48px;
  background: #2acfcf;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  font-family: 'poppins', sans-serif;
  font-size: 1.1rem;
  color: #fff;
  font-weight: bold;
}

.mo-form .btn-1:hover {
  background: #fff;
  color: #2acfcf;
  border: 1px solid #2acfcf;
}

.sub-cont {
  width: 327px;
  height: 1242px;
}
